/* html styling - broad, general - just defines font of page */
html {
  font-family: neue-haas-grotesk-display, sans-serif; 
  font-weight: 400;
  font-style: normal;
}

/* body styling */
body {
  margin: 0;
  background-color: #EFFAF1;
}

/* 1st content container styling */
.main-1 {
  float: left;
  display: block;
  width: 50%;
  padding: 20px 50px 20px 50px;
  box-sizing: border-box;
}

/* 2nd content container styling */
.main-2 {
  float: right;
  display: block;
  width: 50%;
  padding: 20px 50px 20px 50px;
  box-sizing: border-box;
}

/* 3rd content container styling */
.main-3 {
  float: right;
  display: block;
  clear: both;
  width: 100%;
  padding: 20px 50px 20px 50px;
  box-sizing: border-box;
}

/* 4th content container styling */
.main-4 {
  float: right;
  display: block;
  clear: both;
  width: 100%;
  padding: 0px 200px 0px 200px;
  box-sizing: border-box;
}

/* header 1 styling */
h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60pt;
  text-align: center;
}

/* header 2 styling */
h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48pt;
  text-align: center;
}

/* header 3 styling */
h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36pt;
  text-align: center;
}

/* header 4 styling */
h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30pt;
}

/* header 5 styling */
h5 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24pt;
}

/* header 6 styling */
h6 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21pt;
}

/* paragraph text styling */
p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21pt;
  color:#081C15;
}

/* hr {
  border: 3.5px dashed #060d18;
} */

/* nav bar styling */
nav {
  border-radius: 0px 0px 25px 25px;
  background-color: #40916c;
  padding: 1em;
  position: static;
  top: 0;
}

/* styling for the unordered list contained in the navbar */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/* styling for the text in the navbar, which is all linked with a href */
nav a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21pt;
  color: #f4fcf5;
  text-decoration: none;
  padding: .5em 1em;
  transition: all .2s ease-in-out;
}

/* styling for hovering over navbar text */
a:hover {
  font-size: 22pt;
  color: #1B4332;
  text-decoration: none;
}

/* styling for clicking on navbar text */
a:active {
  font-size: 22pt;
  color: #2D6A4F;
  text-decoration: none;
}

/* styling for img elements broadly */
img {
  max-width: 100%;
  display: block;
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(2.5);
  transform:scale(2.5);
  position:(0,0);

  align-items: center;
}

/* styling for photo grid on the index.html page */
.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

/* styling for photo grid on the bottom of the gallery.html page */
.photos2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 100px;
}

/* for javascript page - both are containers to display results of a given battle */
.pokemon-move, .battle-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

/* for javascript page - both are containers to display random pokemon and their names */
.random-pokemon, .random-pokemon2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* for javascript page - both are containers to display a loading pokeball gif between randomly generated Pokemon*/
.loader-container, .loader-container2 {
  height: 200px;
  justify-content: center;
  background: 
      url("pokeball.gif") center
      no-repeat;
  z-index: 1;
}

/* for javascript page - basic button */
.button {
  display: block;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

/* for javascript page - styling for button */
.new-pokemon {
  background-color: #2D6A4F;
  margin-bottom: 15px;
  align-self: center;
  width: 50%;
  transition: all .2s ease-in-out;
}

/* for javascript page - styling for button upon user hover */
.new-pokemon:hover {
  background-color: #1B4332;
}

/* changes in styling for when the display switches to mobile view */
@media all and (max-width: 480px) and (min-width: 1px) {

  .photos, .photos2 {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .main-1, .main-2, .main-3, .main-4 {
    float: none;
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  h1 {
    font-size: 48pt;
  }

  nav a {
    font-size: 10pt;
  }

  a:hover {
    font-size: 11pt;
  }

  a:active {
    font-size: 11pt;
  }

}

/* styling for the display outside of mobile */
@media (max-width: 1900px) {

  .body {
    display: flex;
  }

}