  html {
    font-family: futura-pt, sans-serif;
  }
  
  nav {
    border-radius: 0px 0px 25px 25px;
    background-color: #060d18;
    padding: 1em;
    position: static;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21pt;
    color: #f4fcf5;
    text-decoration: none;
    padding: .5em 1em;
  }

  body {
    margin: 0;
    background-color: #f4fcf5;
  }

  .grid {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  h1 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60pt;
    text-decoration: underline #519a83 5px;
    text-align: center;
  }

  h2 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48pt;
  }

  h3 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt;
  }

  h4 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30pt;
  }

  h5 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
  }

  h6 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 21pt;
  }

  p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21pt;
  }

  a:hover {
    color: #1f5258;
    text-decoration: none;
  }

  a:active {
    color: #519a83;
    text-decoration: none;
  }

  hr
  {
    border: 3.5px dashed #060d18;
  }

  .feature {
    width: 500px;
    float: center;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  @media (max-width: 400px) {
    .body{
    display: flex;
    }
  }

  @media (max-width: 1900px) {
    .body{
      display: flex;
    }
  }